@page
@model Fulfilment.Web.Pages.SubmitModel
@{
}

<h1>Submit Document</h1>

@if (Model.CallFailed)
{
    <p>Documents service unavailable!</p>
}
else if (Model.Document != null)
{
    <p>Document submitted - Id: @Model.Document.Id</p>
}
else
{
    <form method="post">
        <input type="text" name="userId" value="0421">
        <input type="text" name="filename" value="example.pdf">
        <input type="submit" value="Go!" />
    </form>
}
